<div class="container fondoDiv">
  <h1 class="display-3">JAT</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p class="text-justify">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="container margenInf fondoDiv">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h2 class="intro-text text-center">Ubícanos
          <strong>aquí</strong>
      </h2>
      <hr>
    </div>

    <div class="col-md-8 margenInf">
      <sebm-google-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
        <sebm-google-map-marker
         [latitude]="lat"
         [longitude]="lng">
          <sebm-google-map-info-window>
            <strong>Título</strong>
            <p>Aquí nos encontrarás</p>
          </sebm-google-map-info-window>
        </sebm-google-map-marker>
      </sebm-google-map>
    </div>

    <div class="col-md-4">
        <p>Teléfono:
            <strong>946515782</strong>
        </p>
        <p>Correo Electrónico:
            <strong><a href="mailto:name@example.com">jat@gmail.com</a></strong>
        </p>
        <p>Dirección:
            <strong>Av. Loreto 245
                <br>Piura</strong>
        </p>
    </div>
    <div class="clearfix"></div>

  </div>
</div>
