<p>La siguiente tabla muestra la información de las propiedades</p>

<div class="container margenInf">

  <table class="table table-bordered table-responsive table-hover">

    <thead class="tabla">
      <tr>
        <th>Código</th>
        <th>Tipo</th>
        <th>Contrato</th>
        <th>Edición</th>
      </tr>
    </thead>

    <tbody class="tabla">
      <tr>
        <td>001</td>
        <td>Casa</td>
        <td>Venta</td>
        <td><a href="#" class="btn btn-primary">Ver <img src="assets/img/verMas.png"> </a>
            <a href="#" class="btn btn-primary">Editar <img src="assets/img/editar.png"> </a>
            <a href="#" class="btn btn-primary">Borrar <img src="assets/img/eliminar.png"> </a> </td>
      </tr>
      <tr>
        <td>002</td>
        <td>Casa</td>
        <td>Alquiler</td>
        <td><a href="#" class="btn btn-primary">Ver <img src="assets/img/verMas.png"> </a>
            <a href="#" class="btn btn-primary">Editar <img src="assets/img/editar.png"> </a>
            <a href="#" class="btn btn-primary">Borrar <img src="assets/img/eliminar.png"> </a> </td>
      </tr>
      <tr>
        <td>003</td>
        <td>Terreno</td>
        <td>Venta</td>
        <td><a href="#" class="btn btn-primary">Ver <img src="assets/img/verMas.png"> </a>
            <a href="#" class="btn btn-primary">Editar <img src="assets/img/editar.png"> </a>
            <a href="#" class="btn btn-primary">Borrar <img src="assets/img/eliminar.png"> </a> </td>
      </tr>
      <tr>
        <td>004</td>
        <td>Casa</td>
        <td>Venta</td>
        <td><a href="#" class="btn btn-primary">Ver <img src="assets/img/verMas.png"> </a>
            <a href="#" class="btn btn-primary">Editar <img src="assets/img/editar.png"> </a>
            <a href="#" class="btn btn-primary">Borrar <img src="assets/img/eliminar.png"> </a> </td>
      </tr>
      <tr>
        <td>005</td>
        <td>Casa</td>
        <td>Venta</td>
        <td><a href="#" class="btn btn-primary">Ver <img src="assets/img/verMas.png"> </a>
            <a href="#" class="btn btn-primary">Editar <img src="assets/img/editar.png"> </a>
            <a href="#" class="btn btn-primary">Borrar <img src="assets/img/eliminar.png"> </a> </td>
      </tr>
    </tbody>

  </table>

</div>

<div class="container margenInf">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Anterior</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>
