/* You can add global styles to this file, and also import other style files */

.contenido{
  background-color: #D5F5E3;
}

.navColor{
  background-color: #58D68D;
}

.posSuperior{
  margin-top: 30px;
}

.fondoDiv{
  background-color:#ABEBC6;
}

.footerColor{
  background: #D6FBEE;
  clear: both;
  padding-top: 1px;
}

.nosotros{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #F2F4F4;
  border-radius: .3rem;
}

.w-60 {
    width: 60%!important;
}

.posImg{
  margin-left: 20%;
  margin-right: 20%;
}

.tamImg{
  width: 50%;
  height: 50%;
}

.margenInf{
  margin-bottom: 30px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.sebm-google-map-container {
  height: 400px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.pie{
  right: 0;
  bottom: 0;
  left: 0;
}
.tabla{
  background-color: white;
}


/*Animaciones*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
